<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/landing_style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="js/jquery.fullPage.js"></script>
    <script src="js/main.js"></script>
</head>
<body>
    <div class="logo-image"><svg width="72" height="25" viewBox="0 0 72 25" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M18 21V11C18 7.13401 14.866 4 11 4V4C7.13401 4 4 7.13401 4 11V21" stroke="#882DE3" stroke-width="7" stroke-linecap="round"/>
        <path d="M29 4L29 14C29 17.866 32.134 21 36 21V21C39.866 21 43 17.866 43 14L43 4" stroke="#882DE3" stroke-opacity="0.5" stroke-width="7" stroke-linecap="round"/>
        <path d="M68 21V11C68 7.13401 64.866 4 61 4V4C57.134 4 54 7.13401 54 11V21" stroke="#882DE3" stroke-width="7" stroke-linecap="round"/>
        </svg>
        </a>
    </div>
    <div class="container">
        <main id="fullpage">
        <section class="section">
            <div class="intro-area">
                <div class="land-image">
                    <img class="land-intro-img" src="img/landing-img1.png" alt="">
                </div>
                <div class="intro-txt-wrap">
                    <div class="intro-txt-area">
                        <h1>우리에게 너무나 익숙한 디지털 환경,
                            <br>
                            시각 질환자에게는 어떻게 보일까요?
                        </h1>
                        <p>
                            우리는 당연하게 받아들이는 디지털 환경이 
                            <br> 시각 질환자에게는 매우 불편할 수 있다는 것을 알고 계셨나요? 
                            <br>
                            <br> 우리는 정보의 홍수 속에서 살지만, 
                            <br> 정보들은 비장애인들의 시각에 맞춰져 있기 때문에
                            <br> 시각 질환자들에게는 매우 불친절한 정보들의 연속일 것입니다. 
                            <br>
                            <br>정보는 엄청난 잠재력을 가진 것은 누구나 공감하는 사실이기에
                            <br>누구나 정보를 접하고 향유할 권리가 있습니다. 
                        </p>
                    </div>
                </div>
            </img>
        </section>
        <section class="section">
            <div class="intro-area">
                <div class="land-image">
                    <img class="land-intro-img" src="img/landing-img2.png" alt="">
                </div>
                <div class="intro-txt-wrap">
                    <div class="intro-txt-area">
                        <h1>방법은 웹 접근성, 하지만
                            <br>
                            그들의 문제를 파악하는 것이 우선입니다.
                        </h1>
                        <p>
                            ‘웹 접근성’이란 지능 정보화 기본법에 따라 장애인이나 고령자들이
                            <br> 웹 사이트에서 제공하는 정보를 비장애인과 동등하게 접근하고 
                            <br> 이용할 수 있도록 보장하는 것을 의미합니다.
                            <br>
                            <br>현재, 웹 접근성에 대한 지침은 있지만, 대부분은 사람들이 이를 인지하고
                            <br>적용하는 것이 보편적이지 않습니다. 

                            <br>우리는 웹 접근성을 개선하고 개발하는 주체인 비장애인이 시각 질환자
                            <br>및 웹 접근성 개선에 대한 현황을 인식해야 한다고 생각했습니다. 
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <section class="section">
            <div class="intro-area">
                <div class="land-image">
                    <img class="land-intro-img" src="img/landing-img3.png" alt="">
                </div>
                <div class="intro-txt-wrap">
                    <div class="intro-txt-area">
                        <h1>이제 시각 질환자의 세상은
                            <br>
                            어떻게 보일지 체험해보아요! 
                        </h1>
                        <p>
                            “정보는 모두에게 평등해야 한다.”라는 미명 하에 우리는 정보 불평등을 
                            <br> 느끼는 사람들의 문제점을 느껴보고 공감할 필요가 있습니다.
                            <br>
                            <br>그들은 이 세상을 어떻게 바라보고 있을지 아는 것이
                            <br>정보 평준화를 이루기 위한 방법의 첫걸음입니다!
                        </p>
                    </div>
                    
                </div>
            </div>
            <button class="intogame-btn"> 체험하러 가기 </button>
        </section>
        </main>
    </div>
</body>
</html>