<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>nun</title>

    <!-- <link rel="stylesheet" href="plugin/jquery.fullPage.css"/> -->
    <link rel="stylesheet" href="css/info-style.css"/>
    

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="plugin/jquery.fullPage.js"></script>
    <script src="js/info-script.js"></script>

</head>
<body>
    <div class="info-page-container visual">
        <!-- 네비게이션 -->
        <div class="logo-image"><svg width="72" height="25" viewBox="0 0 72 25" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M18 21V11C18 7.13401 14.866 4 11 4V4C7.13401 4 4 7.13401 4 11V21" stroke="#882DE3" stroke-width="7" stroke-linecap="round"/>
            <path d="M29 4L29 14C29 17.866 32.134 21 36 21V21C39.866 21 43 17.866 43 14L43 4" stroke="#882DE3" stroke-opacity="0.5" stroke-width="7" stroke-linecap="round"/>
            <path d="M68 21V11C68 7.13401 64.866 4 61 4V4C57.134 4 54 7.13401 54 11V21" stroke="#882DE3" stroke-width="7" stroke-linecap="round"/>
            </svg>
            </a>
        </div>

        <!-- 슬라이드 -->
        <div id="fullpage">
            <div class="cont-area slide-01 section visual">
                <div class="image">
                    <img src="img/ex-img3.png" class="red-green-img">
                </div>
                <div class="description">
                    <div class="text">
                        <h1>다양한 시각장애의 종류</h1>
                        <p>시각장애인이라 하면 전혀 빛을 감지하지 못하고 앞을 보지 못하는 전맹이라고만 생각하는 사람이 많습니다.
                        <br>그러나 실제로는 저시력이나 단안 실명, 시야각 결손도 포함됩니다. 
                        <br><br>저시력 시각 장애의 종류에는 시력저하, 시야 장애, 더 나아가 색맹도 포함되어 있습니다.
                        </p>
                    </div>
                </div>
            </div>

            <div class="cont-area slide-02 section">
                <div class="image">
                    <img src="img/ex-img3-1.png" class="red-green-img">
                </div>
                <div class="description">
                    <div class="text">
                        <h1>시야 장애에는 무엇이 포함될까요?</h1>
                        <p>저시력 시각 장애 중에서도 시야 장애는 더 세부적인 종류가 있습니다. 
                        <br><br>부분적인 시야가 보이지 않는 중심시력 장애, 주변부 시야장애, 비특이성 시력 장애와
                        <br>전체적으로 뿌옇고 흐릿한 매질혼탁, 일부가 꾸불꾸불 휘어져 보이는 황반변성이 있습니다.
                        </p>
                    </div>
                </div>
            </div>
<!-- ========================================================== -->
            <div class="cont-area slide-03 section">
                <div class="image">
                    <div class="red-green-img">
                        <p class="small-to-big">안녕하세요</p>
                        <p class="light-to-bold">안녕하세요</p>
                        <p class="gray-to-dark">안녕하세요</p>
                    </div>
                </div>
                <div class="description">
                    <div class="text">
                        <h1>인식하기 쉬운 폰트</h1>
                        <p>저시력자는 폰트 크기가 작으면 선명하지 않고 뭉게져서 보이게 됩니다.
                            폰트의 굵기가 너무 얇지 않게 최대한 선명하고 크기가 커야하며 꾸밈없는 가독성 좋은 폰트를 사용해야 저시력자가 인식하기 수월합니다.
                        </p>
                    </div>
                </div>
            </div>

            <div class="cont-area slide-04 section">
                <div class="image">
                    <div class="red-green-img">
                        <div class="btn-img">
                            <div class="btn-small">
                                <p>입력하기</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="description">
                    <div class="text">
                        <h1>버튼의 크기</h1>
                        <p>저시력자들에게는 버튼 크기 또한 너무 작으면 잘 보이지 않기 때문에 버튼의 대각선 길이가 최소 6mm 이상이 되면  저시력자들이 인식하기 편합니다.
                        </p>
                    </div>
                </div>
            </div>

            <div class="cont-area slide-05 section">
                <div class="image">
                    <div class="red-green-img">
                        <div class="bad-btn">
                            <div class="btn-01">
                                <p>입력하기</p>
                            </div>
                            <div class="btn-01">
                                <p>입력하기</p>
                            </div>
                        </div>
                        <div class="good-btn">
                            <div class="btn-02">
                                <p>입력하기</p>
                            </div>
                            <div class="btn-02">
                                <p>입력하기</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="description">
                    <div class="text">
                        <h1>요소들 간 사이거리</h1>
                        <p>버튼이나 텍스트의 사이거리가 충분하지 않다면 저시력자들은 각 내용을 구분하기 어렵습니다. 요소들 사이에 충분한 거리를 두어 구분에 어려움이 없도록 해야합니다.
                        </p>
                    </div>
                </div>
                <button class="move-to-main-completed01" type="button">다른체험 하러가기</button>
            </div>
        </div>

        
    </div>
</body>
</html>