<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- <link rel="stylesheet" href="plugin/jquery.fullPage.css"/> -->
    <link rel="stylesheet" href="css/info-style.css"/>
    

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="plugin/jquery.fullPage.js"></script>
   
</head>
<body>
    <div class="info-page-container redgreen">
        <!-- 네비게이션 -->
        <div class="logo-image"><svg width="72" height="25" viewBox="0 0 72 25" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M18 21V11C18 7.13401 14.866 4 11 4V4C7.13401 4 4 7.13401 4 11V21" stroke="#882DE3" stroke-width="7" stroke-linecap="round"/>
            <path d="M29 4L29 14C29 17.866 32.134 21 36 21V21C39.866 21 43 17.866 43 14L43 4" stroke="#882DE3" stroke-opacity="0.5" stroke-width="7" stroke-linecap="round"/>
            <path d="M68 21V11C68 7.13401 64.866 4 61 4V4C57.134 4 54 7.13401 54 11V21" stroke="#882DE3" stroke-width="7" stroke-linecap="round"/>
            </svg>
            </a>
        </div>

        <!-- 슬라이드 -->
        <div id="fullpage">
        <div class="cont-area slide-01 section redgreen">
            <div class="image">
                <img src="img/ex-img.png" class="red-green-img">
            </div>
            <div class="description">
                <div class="text">
                    <h1>색을 구분하는 원추세포</h1>
                    <p>우리의 망막에는 색을 구분하는 원추세포가 있는데
                    <br>이 세포는 빨간색을 보는 적추체, 파란색을 보는 청추체,<br>녹색을 보는 녹추체 3가지 세포로 이루어져 있습니다.
                    <br><br>이 세포들 중 1개 이상의 기능이 저하되는 경우 색약,<br>존재하지 않은 경우 색맹이라고 불립니다.
                    </p>
                </div>
            </div>
        </div>

        <div class="cont-area slide-02 section">
            <div class="image">
                <img src="img/ex-img2.png" class="red-green-img">
            </div>
            <div class="description">
                <div class="text">
                    <h1>적록색약 /색맹이 무엇일까요?</h1>
                    <p>적색약은 빨간색을, 녹색약은 초록색을 지각하기 어렵고,
                        적록색약은<br>빨간색과 초록색의 색채가 강렬하게 느껴지지 않아 구분하기 어렵습니다. <br>
                        <br>
                        적록 색각 이상 유전자는 X 염색체 위에 있고,<br>
                        열성으로 유전되기 때문에 여성보다 남성에게 더 많이 나타납니다.
                    </p>
                </div>
            </div>
        </div>

        <div class="cont-area slide-03 section">
            <div class="image">
                <div class="color-palette1">
                    <div class="color-chip color1"></div>
                    <div class="color-chip color2"></div>
                    <div class="color-chip color3"></div>
                    <div class="color-chip color4"></div>
                    <div class="color-chip color5"></div>
                    <div class="color-chip color6"></div>
                </div>

                <div class="color-palette1 change">
                    <div class="color-chip changecolor1"></div>
                    <div class="color-chip changecolor2"></div>
                    <div class="color-chip changecolor3"></div>
                    <div class="color-chip changecolor4"></div>
                    <div class="color-chip changecolor5"></div>
                    <div class="color-chip changecolor6"></div>
                </div>
            </div>
            <div class="description">
                <div class="text">
                    <h1>선명한 명도 대비와 명확한 색상 조합</h1>
                    <p>색각 이상자들은 색을 통한 구분이 어려워 선명한 명도 대비를 필요로 합니다.<br>
                        비슷한 컬러를 쓰는 대신 대비가 되는 컬러로 제작하며 색각 이상자들이<br>
                        구분하기 어려운 색상의 조합 사용은 지양해야 합니다.<br>
                        <br>
                        <b>지양해야하는 색상조합</b><br>
                        빨간색-초록색 | 초록색-갈색 | 노란색-초록색<br>
                        | 파란색-분홍색 | 짙은 파랑색-보라색
                    </p>
                </div>
            </div>
        </div>

        <div class="cont-area slide-04 section">
            <div class="image">
                <div class="move-btn">
                <img src="img/ex-img4-1.png" class="basic-btn">
                <img src="img/ex-img4-2.png" class="move-btn-1">
                <img src="img/ex-img4-3.png" class="move-btn-2">
                </div>
            </div>
            <div class="description">
                <div class="text">
                    <h1>패턴과 라인 활용</h1>
                    <p>색각 이상자는 색을 통한 강조만으로는 인식하기 어렵습니다.<br>
                        색과 동시에  라인, 아이콘 활용하여 작은 구분이라도 다르게 강조 해주고<br>
                        <br>
                        복잡한 구조나 다수의 색상을 사용하는 디자인의 경우에는<br>
                        패턴은 사용하여 직관적인 이해를 높혀줍니다.
                    </p>
                </div>
            </div>
        </div>
        
        <div class="cont-area slide-04 section">
            <div class="image">
                <div class="move-btn">
                    <div class="change-btn">
                        <p>입력하기</p>
                    </div>
                    <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M2.01156 2.01163L27.85 9.8269L15.853 15.8531L9.82684 27.85L2.01156 2.01163Z" fill="white" stroke="black" stroke-width="2.5"/>
                    </svg>                        
                </div>
            </div>
            <div class="description">
                <div class="text">
                    <h1>형태 변화</h1>
                    <p>다양한 모양으로 버튼을 구별해 주는 것도 좋은 방법입니다.<br>
                        <br>
                        버튼을 눌렀을 때 색만 바뀌는 것 보단 버튼의 형태가<br>
                        변한다면 색각 이상자도 한번에 인지할 수 있습니다.
                    </p> 
                </div>
            </div>
            <button class="move-to-main-completed01" type="button">다른체험 하러가기</button>
        </div>

        <script src="js/info-script.js"></script>
    
        
    </div>
</body>
</html>