<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>nun</title>

    <!-- <link rel="stylesheet" href="plugin/jquery.fullPage.css"/> -->
    <link rel="stylesheet" href="css/info-style.css"/>
    

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="plugin/jquery.fullPage.js"></script>
    <script src="js/info-script.js"></script>

</head>
<body>
    <div class="info-page-container blueyellow">
        <!-- 네비게이션 -->
        <div class="logo-image"><svg width="72" height="25" viewBox="0 0 72 25" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M18 21V11C18 7.13401 14.866 4 11 4V4C7.13401 4 4 7.13401 4 11V21" stroke="#882DE3" stroke-width="7" stroke-linecap="round"/>
            <path d="M29 4L29 14C29 17.866 32.134 21 36 21V21C39.866 21 43 17.866 43 14L43 4" stroke="#882DE3" stroke-opacity="0.5" stroke-width="7" stroke-linecap="round"/>
            <path d="M68 21V11C68 7.13401 64.866 4 61 4V4C57.134 4 54 7.13401 54 11V21" stroke="#882DE3" stroke-width="7" stroke-linecap="round"/>
            </svg>
            </a>
        </div>

        <!-- 슬라이드 -->
        <div id="fullpage">
            <div class="cont-area slide-01 section blueyellow">
                <div class="image">
                    <img src="img/ex-img.png" class="red-green-img">
                </div>
                <div class="description">
                    <div class="text">
                        <h1>색을 구분하는 원추세포</h1>
                        <p>우리의 망막에는 색을 구분하는 원추세포가 있는데
                        <br>이 세포는 빨간색을 보는 적추체, 파란색을 보는 청추체,<br>녹색을 보는 녹추체 3가지 세포로 이루어져 있습니다.
                        <br><br>이 세포들 중 1개 이상의 기능이 저하되는 경우 색약,<br>존재하지 않은 경우 색맹이라고 불립니다.
                        </p>
                    </div>
                </div>
            </div>
    
            <div class="cont-area slide-02 section">
                <div class="image">
                    <img src="img/ex-img2.png" class="red-green-img">
                </div>
                <div class="description">
                    <div class="text">
                        <h1>청황색약 /색맹이 무엇일까요?</h1>
                        <p>청황색약은 파랑색, 노랑색을 지각하기 어렵고<br>
                            청확색맹은 파랑색, 노랑색을 지각하지 못합니다.<br>
                            <br>
                            적록 색각 이상과 다르게 청황 색각 이상 유전자는 상염색체에<br>
                            존재하기 때문에 남녀의 발현 확률이 동일하지만 매우 희귀합니다.
                        </p>
                    </div>
                </div>
            </div>
    
            <div class="cont-area slide-03 section">
                <div class="image">
                    <div class="color-palette1">
                        <div class="color-chip blueyellowcolor1"></div>
                        <div class="color-chip blueyellowcolor2"></div>
                        <div class="color-chip blueyellowcolor3"></div>
                        <div class="color-chip blueyellowcolor4"></div>
                        <div class="color-chip blueyellowcolor5"></div>
                        <div class="color-chip blueyellowcolor6"></div>
                    </div>
    
                    <div class="color-palette1 change">
                        <div class="color-chip changeblueyellowcolor1"></div>
                        <div class="color-chip changeblueyellowcolor2"></div>
                        <div class="color-chip changeblueyellowcolor3"></div>
                        <div class="color-chip changeblueyellowcolor4"></div>
                        <div class="color-chip changeblueyellowcolor5"></div>
                        <div class="color-chip changeblueyellowcolor6"></div>
                    </div>
                </div>
                <div class="description">
                    <div class="text">
                        <h1>선명한 명도 대비와 명확한 색상 조합</h1>
                        <p>색각 이상자들은 색을 통한 구분이 어려워 선명한 명도 대비를 필요로 합니다.<br>
                            비슷한 컬러를 쓰는 대신 대비가 되는 컬러로 제작하며 색각 이상자들이<br>
                            구분하기 어려운 색상의 조합 사용은 지양해야 합니다.<br>
                            <br>
                            <b>지양해야하는 색상조합</b><br>
                            빨간색-노란색 | 초록색-파란색 | 보라색-빨간색
                        </p>
                    </div>
                </div>
            </div>
    
            <div class="cont-area slide-04 section">
                <div class="image">
                    <div class="move-btn">
                    <img src="img/ex-img4-1.png" class="basic-btn">
                    <img src="img/ex-img4-2.png" class="move-btn-1">
                    <img src="img/ex-img4-3.png" class="move-btn-2">
                    </div>
                </div>
                <div class="description">
                    <div class="text">
                        <h1>패턴과 라인 활용</h1>
                        <p>색각 이상자는 색을 통한 강조만으로는 인식하기 어렵습니다.<br>
                            색과 동시에  라인, 아이콘 활용하여 작은 구분이라도 다르게 강조 해주고<br>
                            <br>
                            복잡한 구조나 다수의 색상을 사용하는 디자인의 경우에는<br>
                            패턴은 사용하여 직관적인 이해를 높혀줍니다.
                        </p>
                    </div>
                </div>
            </div>
            
            <div class="cont-area slide-04 section">
                <div class="image">
                    <div class="move-btn">
                        <div class="change-btn">
                            <p>입력하기</p>
                        </div>
                        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M2.01156 2.01163L27.85 9.8269L15.853 15.8531L9.82684 27.85L2.01156 2.01163Z" fill="white" stroke="black" stroke-width="2.5"/>
                        </svg>                        
                    </div>
                </div>
                <div class="description">
                    <div class="text">
                        <h1>형태 변화</h1>
                        <p>다양한 모양으로 버튼을 구별해 주는 것도 좋은 방법입니다.<br>
                            <br>
                            버튼을 눌렀을 때 색만 바뀌는 것 보단 버튼의 형태가<br>
                            변한다면 색각 이상자도 한번에 인지할 수 있습니다.
                        </p>
                    </div>
                </div>
                <button class="move-to-main-completed01" type="button">다른체험 하러가기</button>
            </div>

            <script src="js/info-script.js"></script>
    </div>
</body>
</html>