<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link rel="stylesheet" href="css/style.css">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <title>nun</title>
</head>
<body>
 
    <div class="main-page-container">
            <div class="nav-bar">
                <div class="logo-image"><svg width="72" height="25" viewBox="0 0 72 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M18 21V11C18 7.13401 14.866 4 11 4V4C7.13401 4 4 7.13401 4 11V21" stroke="#882DE3" stroke-width="7" stroke-linecap="round"/>
                    <path d="M29 4L29 14C29 17.866 32.134 21 36 21V21C39.866 21 43 17.866 43 14L43 4" stroke="#882DE3" stroke-opacity="0.5" stroke-width="7" stroke-linecap="round"/>
                    <path d="M68 21V11C68 7.13401 64.866 4 61 4V4C57.134 4 54 7.13401 54 11V21" stroke="#882DE3" stroke-width="7" stroke-linecap="round"/>
                    </svg>
                    </a></div>
            </div>
            
            <div class="logo-area">
                <div class="main-wapper">
        
                    <div class="main-subject">
                        시각 이상자의 시선으로 잃어버린 물건들을 모두 찾아주세요.
                    </div>

                    <div class="main-select-menu-area">

                        <div class="main-select-menu">
                            <img class="main-select-menu-img" src="img/picnic.png" alt="">
                            <h2>소풍 준비하기</h2>
                            <p>적녹색맹 체험</p>
                            <button class="main-menu-start-btn redgreen" type="button">시작하기</button>
                        </div>

                        <div class="main-select-menu">
                            <img class="main-select-menu-img" src="img/tree.png" alt="">
                            <h2>트리 장식하기</h2>
                            <p>청황색맹 체험</p>
                            <button class="main-menu-start-btn blueyellow" type="button">시작하기</button>
                        </div>

                        <div class="main-select-menu">
                            <img class="main-select-menu-img" src="img/autumn.png" alt="">
                            <h2>가을 도토리 줍기</h2>
                            <p>저시력자 체험</p>
                            <button class="main-menu-start-btn blinder" type="button">시작하기</button>
                        </div>
                        
                    </div>

                </div>
            </div>
            
    </div>
 
    <script src="js/main-script.js"></script>
</body>
</html>